<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title>가위바위보 게임 프로젝트</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../static/css/starter-template.css" rel="stylesheet" />
    <link href="../../static/css/gamelog.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]><script src="../../assets/js/ie8-responsive-file-warning.js"></script
    ><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <script>
      {%with messages = get_flashed_messages()%}
      {%if messages %}
        alert("{{messages[-1]}}");
      {%endif%}
      {%endwith%}
    </script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.manager') }}"
            >관리자 페이지</a
          >
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.user') }}">회원정보</a></li>
            <li><a href="{{ url_for('main.gamelog') }}">게임로그</a></li>
            <li><a href="{{ url_for('main.logout') }}">로그아웃</a></li>
            <!-- <li class="active"> 하면 icon active 가능 -->
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <table class="table table-hover" style="border: 1px solid">
        <div class="title">
          <h3>회원 정보</h3>
          <form class="form-inline" method="post" action="/user">
            <div class="form-group">
              <label for="searchText" class="sr-only">검색</label>
              <input
                type="text"
                class="form-control"
                id="searchText"
                name="searchText"
                placeholder="아이디 입력"
              />
              <button
                type="submit"
                class="btn btn-primary"
                style="margin-right: 5px"
              >
                검색
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="window.location.href='/user'"
              >
                전체 보기
              </button>
            </div>
          </form>
        </div>
        <thead>
          <tr>
            <th style="border-bottom: none">ID</th>
            <th style="border-bottom: none">비밀번호</th>
            <th style="border-bottom: none">닉네임</th>
            <th style="border-bottom: none">이름</th>
            <th style="border-bottom: none">밴</th>
          </tr>
        </thead>
        <tbody>
          {% for i in userList %}
          <tr>
            <td style="vertical-align: middle">
              <a href="{{url_for('main.userprofile', uid = i.id)}}">{{i.id}}</a>
            </td>
            <td style="vertical-align: middle">{{i.password}}</td>
            <td style="vertical-align: middle">{{i.nickname}}</td>
            <td style="vertical-align: middle">{{i.name}}</td>
            <td style="vertical-align: middle">
            {% set exists = [] %}
            {% for j in banList %}
              {%if j.id==i.id %}
                {{ exists.append(1) or "" }}
                 <form action="unban" method="post">
                  <input type="hidden" name="unbanId" value="{{i.id}}">
                <button type="submit" formmethod="POST">밴풀기</button>
                   밴사유 : {{j.reason}}
                </form>
              {%endif%}
            {%endfor%}
            {% if exists %}
            {% else %}
            <form action="ban" method="post">
              <input type="hidden" name="banId" value="{{i.id}}">
              <input type="text" name="banReason" placeholder="밴사유 입력">
            <button type="submit" formmethod="POST">밴하기</button>
            </form>
            {% endif %}
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>

    <!-- /.container -->
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
